.calculator-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: -50px 0 0;
}

.calculator {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #203441;
  color: #61dafb;
  border: none;
  border-radius: 0;
  display: inline-block;
  box-shadow: none;
}

.calculator input[type="number"] {
  -moz-appearance: textfield;
  width: 70px;
  padding: 10px;
  margin-right: 10px;
  background-color: #3d5266;
  color: white;
}

.calculator input[type="number"]::-webkit-inner-spin-button,
.calculator input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input, button {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  background-color: transparent;
  border: none;
  color: #61dafb;
  cursor: pointer;
}

.calculator button {
  appearance: none;
  padding: 10px;
  cursor: pointer;
  outline: none;
}

.calculator button::before {
  display: none;
}

.result {
  margin-top: 20px;
  color: #61dafb;
}

.audio-controls {
  margin-top: 20px;
}

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  border: none;
}
